<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1084948637015-4rh5j7t8481372p03osv47qqo4poc56b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084948637015-4rh5j7t8481372p03osv47qqo4poc56b</string>
	<key>API_KEY</key>
	<string>AIzaSyBxNBcc8OdzrahcQCWUInFusCK0ra7bAgA</string>
	<key>GCM_SENDER_ID</key>
	<string>1084948637015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.logical.greg</string>
	<key>PROJECT_ID</key>
	<string>gregapp-1124</string>
	<key>STORAGE_BUCKET</key>
	<string>gregapp-1124.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084948637015:ios:dc815c79a295bd3a</string>
	<key>DATABASE_URL</key>
	<string>https://gregapp-1124.firebaseio.com</string>
</dict>
</plist>